@if (category) {
<div class="flex justify-between">
    <h1 class="font-semibold text-2xl">Update Category: {{category.name | titlecase}}</h1>
</div>
<div class="mt-4 w-full md:w-2/3">
    <!-- <form (ngSubmit)="updateCategory()"> -->
        <app-admin-input
            (change)="updateCategory($event)"
            [isRequired]="true"
            type="text"
            label="Name"
            [id]="category._id"
            [placeholder]="category.name | titlecase">
        </app-admin-input>
    <!-- </form> -->
    <div class="w-full flex justify-end">
        <button class="border border-gray-300 p-2 rounded-lg text-blue-500 flex gap-x-2 items-center w-full md:w-fit">
            <i class="fa-regular fa-file-image"></i>
            <span class="text-sm">View Category Image</span>
        </button>
    </div>
</div>
}
