<div class="" >
    <div class="">
        @if (isBrowser) {
    
            <div [chart]="piechart">
            </div> 
        }

    </div>


     <div class="flex flex-col justify-between mx-4 mb-[14px]">


                    @for (item of Orderstatus; track $index) {

                        @if (item._id!=null) {

                            <div class="flex justify-between mx-4 mb-[14px]">
                                <div class="flex items-center">
                                    @switch (item._id) {
                                        @case ("canceled") {
                                            <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="5" cy="5.5" r="5" fill="#E93538"/>
                                        </svg>
            
                                        <p class="ms-[5px]">{{item._id}}</p>

                                        }
                                        @case ("pending") {
                                            <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="5" cy="5.5" r="5" fill="#F82BA9"/>
                                        </svg>
            
                                        <p class="ms-[5px]">{{item._id}}</p>

                                        }
                                        @case ("inProgress") {
                                            <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="5" cy="5.5" r="5" fill="#197FD2"/>
                                        </svg>
            
                                        <p class="ms-[5px]">{{item._id}}</p>

                                        }
                                        @case ("completed") {
                                            <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="5" cy="5.5" r="5" fill="#00A85F"/>
                                        </svg>
            
                                        <p class="ms-[5px]">{{item._id}}</p>

                                        }

                                    }

                                        <!-- <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="5" cy="5.5" r="5" fill="#197FD2"/>
                                        </svg>
            
                                        <p class="ms-[5px]">{{item._id}}</p> -->
        
                                </div>
                                <div>
                                    <p>{{item.count}} <span>({{item.count/allcount | percent }})</span></p>
                                </div>
                            </div>
                        }


                    }
                    

  
</div>