.revenu-time-active{
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 600;
    text-align: right;
    color: #F82BA9;

}

.revenu-time{
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color: #969696;

}

.bg-totalproduct{
    background: #E320830D;

}
.bg-Totalorders{
    background: #0063D00D;

}

.bg-Totalcategories{
    background: #0063D00D;

}
.bg-Totalrevenue{
    background: #0089610D;

}