<div class="m-10">
    <div class="flex justify-between mt-24">
        <h1 class="font-semibold text-2xl">All Occasions</h1>
        <button
            (click)="addOccasion()"
            class="bg-primary text-white py-1 px-2 rounded-lg flex justify-between items-center gap-x-2"
        >
            <span class="text-xl leading-none">+</span>
            <span class="hidden md:inline">Add a new occasion</span>
        </button>
    </div>
    @if (occasionsList().length) {
    <div class="w-full">
        <app-content-table-admin
            (deleteId)="deleteOccasion($event)"
            (editId)="updateOccasions($event)"
            [tableType]="'occasion'"
            [tableHeaders]="['name', 'products']"
            [tableCols]="['name', 'productsCount']"
            [tableUnits]="['', 'products']"
            [data]="occasionsList()"
        ></app-content-table-admin>
    </div>
    }
</div>
