<div class="flex justify-center items-center py-8 gap-8">

        <a class="flex py-[10px]  mb-4 cursor-pointer flex-col items-center" routerLink="overview">
            <img class="w-[25px] h-[25px] mx-[10px]" src="layout-dashboard.svg" alt="">
            <h4>Overview</h4>
        </a>
                             
        <a class="flex py-[10px]  mb-4 cursor-pointer flex-col items-center" routerLink="Categories">
            <img class="w-[25px] h-[25px] mx-[10px]" src="clipboard-list.png" alt="">
            <h4>Categories</h4> 
        </a>
        <a class="flex py-[10px]  mb-4 cursor-pointer flex-col items-center" routerLink="Occasions">
            <img class="w-[25px] h-[25px] mx-[10px]" src="calendar-heart.png" alt="">
            <h4>Occasions</h4> 
        </a>
        <a class="flex py-[10px]  mb-4 cursor-pointer flex-col items-center" routerLink="Products">
            <img class="w-[25px] h-[25px] mx-[10px]" src="package.png" alt="">
            <h4>Products</h4> 
        </a>
</div>

