// ======================== [ Imports ] ============================

@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";

@tailwind base;
@tailwind components;
@tailwind utilities;

// ======================== [ All Fonts ] =============================
@font-face {
  font-family: Inter;
  src: url(assets/fonts/Inter_28pt-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url(assets/fonts/Inter_28pt-Medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: Inter;
  src: url(assets/fonts/Inter_28pt-SemiBold.woff2);
  font-weight: 600;
}

@font-face {
  font-family: Inter;
  src: url(assets/fonts/Inter_28pt-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: Inter;
  src: url(assets/fonts/Inter_28pt-ExtraBold.woff2);
  font-weight: 800;
}

@font-face {
  font-family: Inter;
  src: url(assets/fonts/Inter_28pt-Black.woff2);
  font-weight: 900;
}

// ======================== [ Variables ] ================================

:root {
  --primary-color: #f82ba9;
  --primary-color-alpha: #f82ba9b2;
  --primary-color-rgb: 248, 43, 169;
  --light-background-color: #feedf7;
  --light-background-color-rgb: 254, 237, 247;
  --accent-color: #160e4b;
  --green-color: #F05454;
  --description-color: #757f95;
  --policy-color: #797979;
  --white-color: #ffffff;
  --price-color: #f05454;
  --price-after-discount-color: #DEE2E6;
  --active-color: #f82ba9;
  --primary-icon-bg-color: var(--primary-color);
  --secondary-icon-bg-color: #8c52ff;
  --cards-border-radius: 20px;
  --subject-line-height: 2px;
  --subject-line-width: 161px;
  --subject-line-color: var(--primary-color);
}

// ======================== [ Global Rules ] ====================

body {
  font-family: Inter, Helvetica, sans-serif;
}

.whitey-background{
  background: #FFFFFF;
}

.rate-blue{
  background: #606DDD;
}
.rate-green{
  background: #4CAF50;
}
.rate-magenta{
  background: #17A2B8;
}
.rate-yellow{
  background: #FFC107;
}
.rate-red{
  background: #F44336;
}

.bg-admin{
  background: #FBFBFD;

}
.bg-product{
  background: #0000000D;
}
.bg-titles{
  color: #2E2E30;

}
.top-selling1{
  background: linear-gradient(90deg, rgba(223, 172, 22, 0.25) 0%, rgba(223, 172, 22, 0.1) 100%);

}
.top-selling2{
  background: linear-gradient(90deg, rgba(117, 127, 149, 0.25) 0%, rgba(117, 127, 149, 0.1) 100%);


}


